/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Fontes de texto e cores */

@font-face {
  font-family: "Inter Regular";
  src: local(Inter), url(assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter Regular";
  src: local(Inter), url(assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter Regular";
  src: local(Inter), url(assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
}



/* cabeçalho */

body {
  background: hsl(36, 100%, 99%);
  font-family: "Inter Regular", monospace, sans-serif;
}

.container {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  width: 100vw;
  max-width: 1440px;
  display: flex;
  padding: 70px 70px 50px 70px;
}

.logo {
  width: 100%;
}

header nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav ul li.nav-option {
  font-family: "Inter Regular", monospace, sans-serif;
  color: hsl(236, 13%, 42%);
  cursor: pointer;
  padding: 5px;
  transition: all .3s ease;
}

header nav ul li.nav-option:hover {
  color: hsl(5, 85%, 63%);
}

/* main */

main {
  width: 100vw;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
